* {
    margin: o;
    padding: 0;
    box-sizing: border-box;
}

.form-register {
    width: 400px;
    background-color: #24303c;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 4px;
    font-family: Calibri;
    color: white;
}

.controls {
    width: 100%;
    background-color: #24303c;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #24303c;
    font-family: Calibri;
    font-size: 18px;
}

.boton {
    width: 100%;
    background: #187bdd;
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 18px;
    border-radius: 15px;
}
